<p style="color: green"><%= notice %></p>

<h1>Restaurants</h1>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>

<%# Caso seja necessário verificar se uma pessoa pode criar um restaurante, nesse caso enviar a class como "instância" %>
<%# apenas para identificar em qual policy será executado o metodo new %>
<%= link_to "New restaurant", new_restaurant_path if policy(Restaurant).new? %>
